<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="stylesheet" href="styles/bootstrap.min.css">


  <link rel="stylesheet" href="styles/styles.css" />
  <title>Kulasiku Baiku</title>
</head>

<header class="p-3 text-bg-dark navBarContainer">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/content" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="images/mc.png" alt="icon" class="iconImg" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 navbar navbar-expand-lg navbar-dark bg-dark">
        <li><a href="/content" class="nav-link px-2 text-light">Home</a></li>

        <div class="btn-group">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            Motorcycles
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" href="/enfield">Royal Enfield</a>
            </li>
            <li><a class="dropdown-item" href="/triumph">Triumph</a></li>
            <li><a class="dropdown-item" href="/kawasaki">Kawasaki</a></li>
            <li><a class="dropdown-item" href="/yamaha">Yamaha</a></li>
            <li>
              <a class="dropdown-item" href="/superior">Brough Superior</a>
            </li>
          </ul>
        </div>

        <div class="btn-group">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            Motorcycle Tours
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/mindoro">Mindoro Loop</a></li>
            <li><a class="dropdown-item" href="/fuji">Kanto (Fuji) Loop</a></li>

          </ul>
        </div>

        <li><a href="/faq" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-warning" value="Submit" type="submit">
          <a href="/logout" class="text-black nav-link"> Log Out</a>
        </button>
      </div>
    </div>
  </div>
</header>

<body>
  <main></main>
</body>

</html>