<%- include("partials/headersContent.ejs") %>
    <main>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/yamahaMain.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Yamaha Motorcycles</h1>
                    <p class="lead">Yamaha Motor Co., Ltd. is a Japanese
                        mobility manufacturer that produces motorcycles, motorboats, outboard motors, and other
                        motorized products.
                        The motorcycle division of Yamaha was spun off in 1955, being incorporated on 1 July 1955 in
                        Japan, and was headed by Genichi Kawakami. Yamaha's initial product was a 125 cc (7.6 cu in)
                        two-cycle, single cylinder motorcycle, the YA-1, which was a copy of the German DKW RT 125. The
                        YA-1 was a competitive success at racing from the beginning, winning not only the 125cc class in
                        the Mt. Fuji Ascent, but also sweeping the podium with first, second and third place in the All
                        Japan Autobike Endurance Road Race that same year.

                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Yamaha SR400, <a
                            href="https://www.yamaha-motor.com.ph/sport-machines/sport-heritage/sport-heritage/sr400"
                            target="_blank" class="text-body-secondary text-decoration-none">See it here</a></h2>
                    <p class="lead">Born to be a legend, SR400 remains timeless through the creativity of the builders
                        that approach this authentic machine. Discover their unique designs.

                        Yamaha has marketed the SR400 in the JDM since model year 1978, with a production
                        hiatus for model years 2008–2009.
                        The SR400 has an air-cooled 4-stroke single cylinder SOHC 2-valve engine with a dry-sump, with
                        the downtubes of the motorcycle's frame serving as the engine's oil reservoir and cooling
                        system, thereby eliminating the need for an external oil cooler, reducing engine pumping
                        losses, and allowing increased ground clearance as well as reduced overall width. The bike's
                        semi-double cradle frame uses high-strength steel.

                    </p>

                </div>
                <div class="col-md-5">
                    <img src="images/yamahaSR400.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Yamaha XSR900, <a
                            href="https://www.yamaha-motor.com.ph/sport-machines/sport-heritage/sport-heritage/xsr900"
                            target="_blank" class="text-body-secondary text-decoration-none">See it here</a></h2>

                    <p class="lead">The XSR900 is at home on any road, whether it's on those dreamy twisting lanes or
                        the open straight. With the most up-to-date electronics package, every rider has the greatest
                        amount of controllability in any situation. You can go wherever you want with this 3-cylinder
                        muscle machine, thanks to its sporty Quick Shifter and comfortable Cruise Control.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/yamahaXSR900.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Yamaha XSR700, <a
                            href="https://www.yamaha-motor.com.ph/sport-machines/sport-heritage/sport-heritage/xsr700"
                            target="_blank" class="text-body-secondary text-decoration-none">See it here</a></h2>
                    <p class="lead"> The XSR700 is a true vintage machine that has earned its stripes on the road. The
                        versatile character is the machine's beating heart. The XSR700 is a bike that can be ridden in
                        any way you want. The bike can do it all, from casual cruising to twisty roads.
                    </p>

                </div>
                <div class="col-md-5">
                    <img src="images/yamahaXSR700.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Yamaha XSR155, <a
                            href="https://www.yamaha-motor.com.ph/personal-commuter/lifestyle/xsr-series/xsr155"
                            target="_blank" class="text-body-secondary text-decoration-none">See it here</a></h2>

                    <p class="lead">The XSR155 inherits the design traits of the XSR series while being distinctively
                        unique. It provides a remarkable sense of freedom with an agile balance of different elements of
                        the machine. It's a tribute to timeless and pure style of iconic motorcycles in history that
                        redefined the riding excellence of today.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/yamahaXSR155.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>

        



        </div><!-- /.container -->

        </div>

    </main>
    <%- include("partials/footers.ejs") %>