<%- include("partials/headersContent.ejs") %>
    <main>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/superiorMain.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Brough Superior Motorcycles</h1>
                    <p class="lead">
                        The motorcycles were
                        dubbed the "Rolls-Royce of Motorcycles" by H. D. Teague of The Motor Cycle newspaper.
                        Approximately 3048 motorcycles (19 models) were made in the 21 years of production; around a
                        third of that production still exists.
                        <br>
                        T. E. Lawrence ("Lawrence of Arabia") owned eight of
                        these motorcycles and died from injuries sustained when he crashed number seven; the eighth was
                        on order.
                        <br>
                        Moving forward to 2008, vintage motorcycle enthusiast Mark Upham acquired the rights
                        to the Brough Superior name.
                        <br>
                        In 2013 he met motorcycle designer Thierry Henriette and asked him
                        to design a new Brough Superior motorcycle. Three months later a prototype of a new SS100 was
                        shown in Milan.

                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Brough Superior SS 100 (Classic), <a
                            href="https://en.wikipedia.org/wiki/Brough_Superior_SS100" target="_blank"
                            class="text-body-secondary text-decoration-none">See it here</a></h2>
                    <p class="lead">The Brough Superior SS 100 is a motorcycle which was designed and built by George
                        Brough in Nottingham, England in 1924. Although every bike was designed to meet specific
                        customer requirements—even the handlebars were individually shaped—sixty-nine SS100s were
                        produced in 1925 and at £170 (equivalent to £12,200 in 2023) were advertised by Brough as the
                        "Rolls-Royce of Motorcycles".
                        <br>
                        The term was coined by a magazine road
                        tester in his review of the bike, and Brough eventually obtained explicit permission to use it
                        after a Rolls-Royce executive toured the Brough Superior factory. All bikes had a guarantee
                        that they were capable of 100 mph (160 km/h).
                        <br>

                        T. E. Lawrence, Lawrence of Arabia, bought one of the first SS100s in 1925 having previously
                        owned three Brough SS80s.

                    </p>

                </div>
                <div class="col-md-5">
                    <img src="images/superiorClassic.png" class="d-block mx-lg-auto img-fluid"
                        alt="Bootstrap Themes" width="500" height="500" loading="lazy">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Brough Superior SS 100 (Modern), <a
                            href="https://www.brough-superior-motorcycles.com/en/brough-superior-models/ss100/article/original"
                            target="_blank" class="text-body-secondary text-decoration-none">See it here</a></h2>

                    <p class="lead">In 2013 the Brough Superior company unveiled plans to build a new SS100 as a 90th
                        anniversary tribute to the most famous Brough Superior model. The first new SS100s were
                        delivered in 2015 and each was made to order.
                        <br>
                        The new SS100 has a 997 cc (60.8 cu in) DOHC 88° V-twin engine developed and built with French
                        specialists Akira Engineering of Bayonne that produces 120 hp (89 kW). Produced at
                        Henriette's Boxer Design factory in Toulouse, France, the new SS100 is hand built. The
                        chassis is an expensive mix of magnesium, titanium, and aluminium with carbon-fiber wheels and a
                        double-wishbone front fork. The brakes are Behringer from the aircraft industry with four-disc
                        front brakes, motorcycling's first.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/superiorModern.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>

       


     



        </div><!-- /.container -->

        </div>

    </main>
    <%- include("partials/footers.ejs") %>