<%- include("partials/headersContent.ejs") %>
    <main>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="  images/fujiMain.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Kanto (Fuji) Loop</h1>
                    <p class="lead">
                        This tour is specifically made not only to let you enjoy motorcycle touring in Japan, but also
                        some unique pieces of Japanese culture as well.
                        <br>
                        You of course will enjoy classic Japanese
                        pattern like hot spring’s relaxing water and made fresh sashimi, but you will also be able to
                        try the uncommon experience of wasabi’s harvest on an authentic Japanese wasabi field.
                        <br>
                        You will
                        be also enjoying some of the greatest historic treasures of Japan can offer you, like the
                        Owakudani valley or the unique Oshino Hakkai.
                        <br>
                        And then, the road: Izu Skyline’s curves, the
                        Kawazu Nanadaru Bridge’s astonishing loop and the romantic ocean view on the Bay Bridge. You
                        will understand the uniqueness of motorcycle touring in the Land of the Rising Sun.

                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Kanto (Fuji) Loop Route </h2>


                    <h3 class="featurette-heading fw-normal lh-1"> Why the Kanto region?</h3>
                    <br>
                    <p class="lead">
                        Touring Japan’s Kanto region by motorcycle offers a unique and exciting experience. Here are
                        some
                        reasons why:
                        <br>
                    <ul class="lead">
                        <li><b>Rich History and Culture:</b> The Kanto region is home to many historical landmarks,
                            temples,
                            and
                            shrines, such as the famous Kamakura temples and shrines, which offer a glimpse into Japan’s
                            rich
                            cultural heritage. A motorcycle tour allows you to explore these sites at your own pace and
                            take
                            in
                            the scenic views.</li>
                        <br>
                        <li><b>Scenic Routes:</b> The Kanto region has a mix of urban and rural landscapes, with scenic
                            routes that
                            take you through mountains, forests, and coastal areas. The roads are generally
                            well-maintained
                            and
                            offer stunning views of Mount Fuji, Tokyo Bay, and the surrounding countryside.</li>
                        <br>
                        <li> <b>Food and Drink:</b> Japan is famous for its cuisine, and the Kanto region is no
                            exception.
                            You can
                            sample local specialties such as sushi, ramen, and tempura, as well as try some of the
                            region’s
                            famous sake and beer.</li>
                        <br>
                        <li><b>Vibrant Cities:</b> The Kanto region is home to Japan’s capital city, Tokyo, as well as
                            other
                            vibrant
                            cities like Yokohama and Kawasaki. These cities offer a unique blend of traditional and
                            modern
                            culture, with plenty of shopping, dining, and entertainment options.</li>
                        <br>
                        <li><b>Motorcycle-Friendly:</b> Japan is a motorcyclist’s paradise, with well-maintained roads,
                            scenic
                            routes,
                            and a strong motorcycle culture. The Kanto region has many motorcycle-friendly roads and
                            attractions, making it an ideal destination for motorcyclists.</li>
                        <br>
                        <li><b>Unique Experiences:</b> A motorcycle tour of the Kanto region offers many unique
                            experiences, such
                            as
                            visiting the famous Tsukiji Fish Market, taking a ride on the Tokyo Metro, or exploring the
                            city’s</li>
                        many parks and gardens.
                        <br>
                        <li><b>Accessibility:</b> The Kanto region is easily accessible by air, train, or car, making it
                            a
                            convenient
                            destination for motorcyclists from around the world.</li>

                    </ul>
                    </p>

                </div>
                <div class="col-md-5">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m70!1m12!1m3!1d829640.1180083335!2d138.1930240245146!3d35.682376569106545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m55!3e0!4m5!1s0x601889afd6e2ff57%3A0xef52da5bf418b020!2zSmFwYW4sIFRva3lvLCBNaW5hdG8gQ2l0eSwgRGFpYmExIENob21l4oiSNuKIkjEsIG9kYWliYSB0b2tpbWVraeOCueODmuODvOOCuQ!3m2!1d35.6290759!2d139.775907!4m5!1s0x601de7cae803dfe9%3A0xfd7719d95b1f956b!2sKusatsu%2C%20Agatsuma%20District%2C%20Gunma%2C%20Japan!3m2!1d36.6207181!2d138.5960945!4m5!1s0x601d805de6344499%3A0xf128a974072892c8!2sNagano%2C%20Japan!3m2!1d36.6485258!2d138.1950371!4m5!1s0x601c40c3405db4a9%3A0x2e79ea81c2c967f2!2sYatsugatake%20Mountains%2C%20Tatsuzawa%2C%20Fujimi%2C%20Nagano%2C%20Japan!3m2!1d35.970833!2d138.37!4m5!1s0x6019f0e0fe418b01%3A0x8ff6e748cc0f780a!2sNishiizu%2C%20Kamo%20District%2C%20Shizuoka%2C%20Japan!3m2!1d34.7716151!2d138.77529819999998!4m5!1s0x6019e500f48cf9af%3A0x97e9640bd44e171e!2sKawazu%20Nanataki%20Loop%20Bridge%2C%20Nashimoto%2C%20Kawazu%2C%20Shizuoka%2C%20Japan!3m2!1d34.7918285!2d138.9388606!4m5!1s0x6019a20c60b2dc7b%3A0x2605bd17ac977b26!2sHakone%2C%20Ashigarashimo%20District%2C%20Kanagawa%2C%20Japan!3m2!1d35.233769099999996!2d139.1088454!4m5!1s0x601966859f99842b%3A0x163aa46bb0af9f71!2sOshino%20Hakkai%2C%20Shibokusa%2C%20Oshino%2C%20Yamanashi%2C%20Japan!3m2!1d35.4600675!2d138.83247409999998!4m5!1s0x601889f82c55d4cb%3A0x79fe8b211d2010b9!2sOdaiba!3m2!1d35.6205834!2d139.7805445!5e0!3m2!1sen!2sph!4v1715909943040!5m2!1sen!2sph"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>"

                </div>
            </div>



            <hr class="featurette-divider">



            <div class="row featurette my-5 py-5">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Kusatsu, <a href="https://www.google.com/maps/place/Kusatsu,+Agatsuma+District,+Gunma,+Japan/@36.6119294,138.536072,13z/data=!3m1!4b1!4m6!3m5!1s0x601de7cae803dfe9:
                            0xfd7719d95b1f956b!8m2!3d36.6207181!4d138.5960945!16zL20vMDNrMGN0?entry=ttu"
                            target="_blank" class="text-body-secondary text-decoration-none">It is Located Here</a></h2>

                    <p class="lead">

                        Your journey wil start in one of the three most popular hot spring resorts in the country: the
                        ancient and warming Kusatsu town in Gunma Prefecture.It is the third most popular hot spring
                        area in Japan. Located at a 1200 meters above sea altitude, it is also a mountainous popular
                        skiing area in winter and hiking spot during warm season. The nearby peak of Mount
                        Kusatsu-Shirane is the source of this city's hot waters, which, local people use to claim, can
                        cure all form of pain except love pains(lol).


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/fujiKusatsu.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>


            <div class="row featurette my-5 py-5">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Nagano, <a href="https://www.google.com/maps/place/Nagano,+Japan/@36.6484063,137.9497068,11z/data=!3m1!4b1!4m6!3m5!1s0x601d805de6344499:0xf128a974072892c8!8m2!3d36.6485258!4d138.
                            1950371!16zL20vMGdwNXBy?entry=ttu" target="_blank"
                            class="text-body-secondary text-decoration-none">It is Located Here</a></h2>

                    <p class="lead">

                        Next Stop is Nagano.
                        <br>
                        On the start of this day, after some challenging curves, you will reach the city of Matsumoto
                        with its Castle, symbol of the city, made in 16th century and one of Japan’s most beautiful
                        original castles. Its main features are its black wainscoting, which made it being recognized
                        with the nickname of “Crow Castle".
                        <br>
                        After a marvellous ride on the beautiful Venus Line you will then move to reach our hotel on
                        Mount Tateshina, in the prefecture of Nagano, famous site of the 1998 Winter Olympic Games.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/fujiNagano.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>

            <div class="row featurette my-5 py-5">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Nishi-Izu, <a
                            href="https://www.google.com/maps/place/Nishiizu,+Kamo+District,+Shizuoka,+Japan/@34.8226991,138.7769238,13z/data=!3m1!4b1!4m6!3m5!1s0x6019f0e0fe418b01:0x8ff6e748cc0f780a!8m2!3d34.7716151!4d138.7752982!16zL20vMDJ2YnB2?entry=ttu"
                            target="_blank" class="text-body-secondary text-decoration-none">It is Located Here</a></h2>

                    <p class="lead">

                        Next Stop is Nishi-Izu.
                        <br>
                        You wil start the day by riding on the Yatsugatake Mountain range, then move to the side of
                        Mount Fuji where you will enjoy an authentic ranch experience at Fuji Milkland. The next stop
                        will be Numazu, a port city most known as a trip location area mainly its numerous hot springs
                        and the extremely big fish market, where can be bought, or even eaten directly in locals, a wide
                        variety of fishes and other seafood.
                        <br>
                        The day will end with the Nishi-Izu Skyline, one of the most popular riding roads in Japan, to
                        arrive to the astonishing area of Nishi-Izu. An authentic seaside resorts, where you will live
                        the magic experience of having a hot spring bath.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/fujiIzu.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>


            <div class="row featurette my-5 py-5">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Hakone, <a
                            href="https://www.google.com/maps/place/Hakone,+Ashigarashimo+District,+Kanagawa,+Japan/@35.232457,139.0064129,13z/data=!3m1!4b1!4m6!3m5!1s0x6019a20c60b2dc7b:0x2605bd17ac977b26!8m2!3d35.2337691!4d139.1088454!16zL20vMDNqY3hn?entry=ttu"
                            target="_blank" class="text-body-secondary text-decoration-none">It is Located Here</a></h2>

                    <p class="lead">

                        Next Stop is Hakone.
                        <br>
                        The day will start with the riding experience of your life on the Kawazu Loop Bridge, considered
                        one of the most spectacular bridges in the world. You will then move to reach the Izu peninsula
                        and its bright green wasabi fieldsan then continue on the legendary Izu Skyline, a curvy road
                        considered one of the best in the country, dream of any biker.
                        <br>
                        well recognized official symbol of this country: the fabulous Mount Fuji. You will end the day
                        by relaxing in the hot spring water of Hakone area, one of the most popular hot spring resorts
                        in Japan.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/fujiHakone.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>



            <div class="row featurette my-5 py-5">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Odaiba, <a
                            href="https://www.google.com/maps/place/Oshino+Hakkai/@35.4600718,138.8298938,17z/data=!
                        3m1!4b1!4m6!3m5!1s0x601966859f99842b:0x163aa46bb0af9f71!8m2!3d35.4600675!4d138.8324741!16s%2Fg%2F121dpnbt?entry=ttu" target="_blank"
                            class="text-body-secondary text-decoration-none">It is Located Here</a></h2>

                    <p class="lead">

                        Next Stop is you loop back to Odaiba.
                        <br>
                        In the end of your journey will be in the Hakone area. Here you can leave your motorcycle for a
                        moment and go on an excursion to visit the Owakudani Valley. Then you will return on your
                        motorcycle,
                        riding on some of the best panoramic roads in the country, the Ashinoko Skyline,
                        alongside the beautiful Lake Ashi and the legendary Izu Skyline, a curvy road dream of any
                        biker.
                        <br>
                        You will be visiting Oshino Hakkai, a small village located in the Fuji Five Lake region. Nearby
                        there are eight ponds of extraordinarily clear water,
                        fed by snow melting down from Mount Fuji,
                        filtered for more than 80 years through porous layers of lava. You will then return to the shop
                        to be ready for your next adventure.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/fujiOdaiba.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>


            <hr class="featurette-divider">

            <div class="row featurette my-5 py-5">
                <div class="container">
                    <h2 class="featurette-heading fw-normal lh-1">Trip Summary </h2>
                    <p class="lead">

                        The Kanto region in Japan is a densely populated area with a rich history and culture.
                        For a motorcycle tour, the region offers a mix of urban excitement and natural beauty.
                        <br>
                        Overall, a motorcycle tour in the Kanto region offers a unique blend of urban excitement,
                        natural beauty, and cultural experiences.
                        With careful planning and preparation, you can create an unforgettable adventure in this
                        fascinating part of Japan..
                    </p>

                </div>

            </div>





        </div><!-- /.container -->

        </div>

    </main>
    <%- include("partials/footers.ejs") %>