<%- include("partials/headersContent.ejs") %>
    <main>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/kawasakiMain.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Kawasaki Motorcycles</h1>
                    <p class="lead">Kawasaki's Aircraft Company began the development of a motorcycle engine in 1949.
                        The development was completed in 1952 and mass production started in 1953. The engine was an
                        air-cooled, 148 cc, OHV, four-stroke single cylinder with a maximum power of 4 PS (2.9 kW; 3.9
                        hp) at 4,000 rpm. In 1954, the first complete Kawasaki Motorcycle was produced under the name of
                        Meihatsu, a subsidiary of Kawasaki Aircraft. In 1960, Kawasaki completed construction of a
                        factory dedicated exclusively to motorcycle production and bought Meguro Motorcycles..</p>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Kawasaki W800, <a
                            href="https://kawasakileisurebikes.ph/motorcycles/heritage-models/w800-street/#show-content"
                            target="_blank" class="text-body-secondary text-decoration-none">See it here</a></h2>
                    <p class="lead">The W800 Street is the latest evolution of the brand that spans 50 years. With
                        numerous parts updated from the original W1 and compared to the standard W800 - the W800 Street
                        is a retro model that has been thoroughly modernized to deliver rider-friendly machines with
                        easy handling and good stability on the highway.
                    </p>

                </div>
                <div class="col-md-5">
                    <img src="images/kawasakiW800.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Kawasaki Z650RS, <a
                            href="https://www.kawasaki.com/en-us/motorcycle/z/retro-sport/z650rs" target="_blank"
                            class="text-body-secondary text-decoration-none">See it here</a></h2>

                    <p class="lead">A true middleweight naked sportbike for a broad range of riders, the Z650RS tempts
                        the eye with the timeless beauty of a retro sport. Distinguishing the Z650RS from the larger
                        displacement Z900RS is a slimmer tank and a shorter, more compact tail—all contributing to light
                        handling and an approachable nature. Experience modern responsive power and retro styling that's
                        perfect for everyday riding on the Z650RS.


                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/kawasakiZ650RS.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>


            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Kawasaki W175, <a
                            href="https://www.motodeal.com.ph/motorcycles/kawasaki/w175" target="_blank"
                            class="text-body-secondary text-decoration-none">See it here</a></h2>
                    <p class="lead"> The Kawasaki W175 is the newest member of the "W" family. Going back years ago,
                        Kawasaki’s original W, the 1966 W1, had gained recognition worldwide for having the largest
                        displacement in its segment. This success became the brand’s first step in manufacturing
                        large-displacement motorcycles. Now, embracing the W heritage, the W175 commuter bike aims to
                        continue this legacy with its great performance without losing its retro style.


                </div>
                <div class="col-md-5">
                    <img src="images/kawasakiW175.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                        width="500" height="500" loading="lazy">
                </div>
            </div>

           

  

        </div><!-- /.container -->

        </div>

    </main>
    <%- include("partials/footers.ejs") %>