<%- include("partials/headers.ejs") %> 


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 index1" src="images/mc.png" alt="pic" >
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome To Kulasiku Baiku!</h1>
    
     
     
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"> <a href="/login" class="text-white nav-link"> Log In</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/register" class="text-black nav-link"> Registration</a></button>
      </div>
    </div>
  </div>

<%- include("partials/footers.ejs") %>